.unity-container {
  position: relative;
}

.unity-loader {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

img.placeholder {
  width: 920px;
}